@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-size: 16px;
  /* 預設字型大小，可基於此設置 rem 值 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* 字型 */
}

.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* 佔滿整個螢幕的寬度 */
  height: 95vh;
  /* 設置高度 */
}

.calendar-container {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 0 0 47%;
  background: #fff;
  width: 47%;
  height: 95vh;
  margin: 2.5vh 1.5% 2.5vh 5%;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.diary-container {
  flex: 1;
  /* 佔據剩餘的空間 */
  height: 95vh;
  /* 設計日記容器的樣式 */
  margin: 2.5vh 5% 2.5vh 1.5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, #EEE 1px, transparent 1px),
    linear-gradient(to bottom, #EEE 1px, transparent 1px);
}